.Description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.6em;
  font-family: Georgia, serif;
  .small-list {
    margin: 5px 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: .8em;
    &-pre {
      font-size: 0.85em;
      padding-top: 30px;
    }
    li {
      position: relative;
      list-style: square;
      margin-bottom: 3px;
    }
  }
  p {
    line-height: 1.5em;
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 0;
    color: #1c2644d6;
  }
  ol {
    margin: 0;
    li {
      margin: 12px 0;
    }
  }
  .math {
    display: block;
    font-family: "Computer Modern", sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .center {
    text-align: center;
  }
  .divider {
    background-color: #3434344a;
    height: 4px;
    width: 26%;
  }
}